@import url(clash-display.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .navbar-brand img {
    max-width: 140px; 
    height: auto;
    margin-left: -2.5em;
    

  }
  .navbar-brand {
    text-align: center;
    margin-right: auto; 
  }
  .navbar-nav{
    margin-right: -2em;
    
  }

  .custom-navbar .navbar-nav .nav-link {
    color: #ffffff; 
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 1.1em;
  }
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #fc208a; 
  }
  .custom-navbar {
    background-color: transparent; 
    position: relative;
    z-index: 1000; 
    border-style: solid;
    border-color: transparent;
  height: auto;


  }
  
  .custom-navbar .navbar-toggler{
    border-color: transparent;
 }
 
 

  #outer-container{
    background: linear-gradient(to right, #d7afaf 50%, #b9bcdc 50%);
    padding-left: 10px;
    padding-right: 10px;

  }
  #FRESHLY {
    position: absolute;
    top:45%;
    left: 15%;
  
    font-family: Mulish;
    font-weight: bolder;
    color: #006aff;
    font-size: 3.5em;
    animation-duration: 1s;
    animation-name: slide-in;

  }
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes slide-in-2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  #BAKED {
    position: absolute;
  top:45%;
    right: 20%;
    font-family: Mulish;
    font-weight: bolder;
    color:#fc208a ;
    font-size: 3.5em;
    animation-duration: 1s;
    animation-name: slide-in-2;


  }
  
  
 
  
  @media (max-width: 991.98px) {
    .navbar-brand {
      position: static;
      transform: none;
      width: 50px;
 
    }
    .navbar-brand img{
        margin-left: 0;
    }
    .navbar-nav {
      flex-direction: column;
      
    }
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
    .navbar-nav .nav-item:last-child {
      margin-bottom: 0;
    }
    .navbar {
      display: flex;
      justify-content: baseline;
      width: 100%;
    }
    .offcanvas.show {
        background-color: rgba(103, 103, 103, 0.564);
        transition: none;
      }
      #FRESHLY{
        top: 40%;
        color:rgb(255, 0, 157);
        z-index: 100;
        
      }
     #BAKED{
      top:50%;
      color: white;
      z-index: 100;
     }
   
    .column-img {
      max-height: 200px;
    }
    .typewriter {
      font-size: 1.5em; 
      overflow-wrap: break-word; 
    }
  
}

    
  /* CSS */
.column-img {
  max-width: 70%; 
  height: auto; 
}

    .offcanvas {
        background-color: rgba(103, 103, 103, 0.564)!important;  }


        .menu{
          position: sticky;
          top: -3em;
          width: 100%;
          height: 100vh;
        }
    
       
        #carousel-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          position: relative;
          background: linear-gradient(to right, #d7afaf 50%, #b9bcdc 50%);
          margin-top: -3.5em;

        }
        
        #carouselExampleSlidesOnly {
          max-width: 100%;
        }

        #carouselExampleFade .carousel-inner .carousel-item img {
          max-width: 100%;
          max-height: 27em;
          width: auto;
          height: auto;
          object-fit: contain;
        }



.about-section{
  background: url("../images/about-us.jpg") no-repeat left;
  background-size: 60%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 5em 0;
  height: 100vh;
  position: sticky;
  top:0;
}
.about-section:hover{
  transform: scale(1);
}

.about-section .inner-container{
  width: 50%;
  height: auto;
  float: right;
  background-color:#ffffff;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
  border-style: solid;
    border-color: transparent;
    border-radius: 1em;
    box-shadow: 0px 0px 10px lightgrey;
  
}


.about-section .inner-container h1{
  margin-bottom: 1.5em;
  font-size:xx-large;
  font-weight: 900;
  color:#8c91c9;
  
}
.about-section .inner-container h1:hover{
  transform: scale(1.1);
}

.about-section .inner-container .text{

  color:#8c91c9;
  line-height: 30px;
  text-align: justify;

  font-size:medium;
 
}


.about-section .inner-container .skills{
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: medium;
  color:#8c91c9;
  
}
.about-section .inner-container .skills:hover{
  transform: scale(1.1);
}

@media screen and (max-width:1200px){
  .about-section .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      padding: 100px 40px;
  }
  .about-section .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .about-section .inner-container{
      padding: 60px;
  }
}
.stacked {
  border: solid 2px;
  border-color: #8c91c9;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white,
              15px 15px 0 0 #8c91c9,
              15px 11px 0 0 #8c91c9,
              11px 15px 0 0 #8c91c9;
}
.stacked:hover{
  transform: scale(1.1);

}
.footer h4 {
  color: rgb(240, 13, 153);
  font-family: 'Mulish';
  font-weight: 700;
}

.testimonials {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 40px 0;
  color: #000000;
  text-align: center;
  background-color: pink !important;

}

#testimonial-h1{
  color: white;
  font-family: "Gloria Hallelujah";
}

.testimonials .inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.testimonials .border{
  width: 20em;
  margin: 26px auto;
}

.testimonials .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.card-col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  
}



.testimonial-low{
  background:#acb0e0;
  padding: 30px;
  border-style: solid;
    border-color: transparent;
    border-radius: 1em;
    box-shadow: 0 0 10px #d6a3a3;
    transform: scale(0.8); 

  
}
.testimonial{
  background:#acb0e0;
  padding: 30px;
  border-style: solid;
    border-color: transparent;
    border-radius: 1em;
    box-shadow: 0 0 10px #d6a3a3;
    transform: scale(1);

  
}
.testimonial:hover{
  transform: scale(1.1);
}
.testimonial-low:hover{
  transform: scale(0.9);
}

.testimonials .name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.testimonials .stars{
  color:#e7186b;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
  .testimonial,.testimonial-low{
    height: 30vh;
  }

  .testimonials .col{
  flex: 100%;
  max-width: 80%;
  
}
.testimonials .name{
  font-size: 17px;
  margin: 0;
}
.testimonials .stars{
  margin: 0;
}
.about-section .skills {
  font-size: 15px;
}
.about-section .inner-container{
  margin-top: 6em;
}
.footer{
  margin-top: -6em;
}
}

@media screen and (max-width:600px) {
  .testimonial,.testimonial-low{
    height: 20vh;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .testimonials .col{
  flex: 100%;
  max-width: 100%;
}
.testimonials .name{
  font-size: 15px;
  margin: 0;
}
.testimonials .stars{
  margin: 0;
}

.about-section .inner-container{
  margin-top: 4em;
}
.about-section .inner-container .skills {
  font-size: 13px;
}
.footer{
  margin-top: -5.5em;
}
}

.gr-1{
  background-image: url(../images/cake_menu.jpg);

background-size: cover;
  height: 100%;}
.gr-2{
  background-image: url(../images/cookie_menu.jpg);
  background-size: cover;
 
  height: 100%;}
.gr-3{
  background-image: url(../images/donuts_menu.jpg);
  background-size: cover;
  
  height: 100%;}

*{transition: .5s;}

.h-100{height: 100vh !important;
width: auto;}

.h-100 .row{

    height: auto; 
  
}

.column {
  margin-top: 3rem;
  padding-left: 3rem;

}

.column:hover {
  padding-left: 0;
}

.column:hover .card .txt {
  margin-left: 1rem;
  h1,
  p {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    font-weight: bold;
  }
}


.card {
  height: 17em !important;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.1rem;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}

.card .txt {
  margin-left: -3rem;
  z-index: 1;
}

.card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family:  "Gloria Hallelujah";
}

.card .txt p {
  font-size: 0.7rem;
  font-family: 'Mulish';
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
}

.card a {
  z-index: 3;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 1);
  margin-left: 1rem;
  position: relative;
  bottom: -0.5rem;
  text-transform: uppercase;
}

.card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  transition: 0.5s;
}

#space{
  height: 2em;
}

.typewriter {
  font-family: "Homemade Apple";
  color: #fc208a;
  text-align: center;
  overflow: hidden; 
  padding-top: 1em;
  padding-bottom: 1em;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


#div-menu-btn{
display: flex;
justify-content: center;
align-items: center;
padding-top: 2em;
}
#menu-btn {
  border-color: transparent;
  font-family: "Mulish";
  font-size: 30px;
  font-weight: bolder;
  background-color: #b9bcdc;
  color: #fc208a;
  padding: 0.3em;
  width: 6em;
  transition: transform 0.3s ease; 
}

#menu-btn:hover {
  background-color: #fc208a; 
  color:#b9bcdc; 
  transform: scale(1);

}

@media screen and (max-width: 600px) {
  
 
  .column {
    padding-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
    width: 100%; 
    margin-left: 2.2rem;
  }

  .card {
    height: 22vh !important;
    padding: 1.2rem;
    box-shadow: none;
    width: 80%;
  
  }

  .card .txt {
    margin-left: 0;
    color: white;
  }

  .card .txt h1 {
    font-size: 1.2rem;
  }

  .card .txt p {
    font-size: 0.6rem; 
    margin-top: 15px;
  }

  .card a {
    font-size: 0.6rem; 
    margin-left: 0.8rem;
  }

  #space {
    height: 1em; 
  }

  .typewriter {
    font-size: 1.2rem; 
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
  }

  #div-menu-btn {
    padding: 0;
  }

  #menu-btn {
    font-size: 24px; 
    padding: 0.2em; 
    width: 5em; 
  }
}




