<h2>Edit Game</h2>

<form action="/menu/new" method="post">
    title: <input type="text" name="title" value="<%= menu.title %>"/> <br>
    price: <input type="text" name="type" value="<%= menu.price %>"> <br>
    description: <input type="text" name="genre" value="<%= menu.description %>"> <br>
    <input type="submit">
</form>