<link rel="js" href="/homepage.js">
<div id="carousel-container">
    <h2 id="FRESHLY">FRESHLY</h2>
    <h2 id="BAKED"> BAKED</h2>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/donuts.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/cookies.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/brownie.png" class="d-block w-100" alt="...">
        </div>
      </div>
      
    </div>
    
  </div>
  
  <div>  
    <div class="menu">
    <div id="space"></div>
    <h1 class="typewriter">Fresh From the Oven </h1>
    <div class="container h-100">
      <div class="row">
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-1">
            <div class="txt">
              <h1>BROWNIES</h1>
              <p>How Sweet Life Gets: Indulge in Brownie Bliss at Our Bakery!</p>
            </div>
    
        
          </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-2">
            <div class="txt">
              <h1>COOKIES</h1>
              <p>Savor Every Bite: Dive into Cookie Paradise at Our Bakery!</p>
            </div>
        
         
          </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-3">
            <div class="txt">
              <h1>DONUTS</h1>
              <p>Joy in Every Bite: Discover Delightful Donut Delicacies at Our Bakery!</p>
            </div>
    
        
          </div>
        </div>
        <div id="div-menu-btn">
          <a href="/menu">
              <button id="menu-btn">
                  MENU
              </button>
          </a>
      </div>
        
      </div>
     
    
    </div>
    
      
  
  
   </div>
   <div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        
          <blockquote class="stacked">
            <p class="text">
            "At glazer's, we take pride in crafting homemade delights that warm both the heart and soul. Whether you're craving a comforting slice of brownie or a delicate cookie, our bakery offers a taste of nostalgia in every bite. Join us on a journey of flavor and tradition, where every morsel tells a story of homemade delight."
          </p>
          </blockquote>
  
        
        <div class="skills">
            <span>Homemade</span>
            <span>Freshly Baked</span>
            <span>Irresistable</span>
        </div>
    </div>
  </div>
  
   <div class="testimonials">
    <div class="inner">
      <h1 id="testimonial-h1">RUMOUR HAS IT...</h1>
      <div class="border"></div>
      <div class="row">
        <div class="col card-col">
          <div class="testimonial">
            <div class="name">Khunsha</div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
  
            <p>
              "These cookies are irresistible! Freshly baked and bursting with flavor, highly recommended!"
            </p>
          </div>
        </div>
  
        <div class="col card-col">
          <div class="testimonial">
            <div class="name">Zahra</div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> 
              <i class="far fa-star"></i> 
            </div>
  
            <p>
              "Delicious brownies! They're rich and gooey, perfect for satisfying your sweet cravings."          </p>
          </div>
        </div>
  
        <div class="col card-col">
          <div class="testimonial">
            <div class="name">Emaan</div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
  
            <p>
              "These donuts are absolutely delicious! They're fluffy, flavorful, and always hit the spot."          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>